body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  font-size: 2vh;
  background-image: url('../../assets/locke1.jpg');
  background-position:center;
  background-size: cover;
}

.container { 
  background-color: #adadad;
  border-radius: 10px;
  width: 60vh;
  height: 56vh;
  padding: 5px;
  margin: auto;
  align-items: flex-end;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  margin-top: 20vh;

}


.texto-reconhecimento {
  text-align: center;
}

.luminus {
  width: 20vh;
  max-height: 20vh;
  position: fixed;
  top: 8vh;
  left: 14vh;
}
